.footer-alignment-custom{
    max-width: 1204px !important;
    width: 100%;
}  

@media (max-width:1178px){
.footer-company-link{
    padding-left: 0px !important;
}
}
@media (max-width:767px){
    .support-custom-link{
        padding-left: 0px !important;
    }
    .resources-layout-custom{
        padding-left: 0px !important;
    }
    .contactus-layout-custom{
        padding-left: 0px !important;
    }
}
.footer-company-link h3{
    color:var(--primary-color) !important ;
}
.footer-text-color{
    color:var(--primary-color) !important ;
}
.shadow-custom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important ;
  }
  @media (min-width:1366px){
    .footer-alignment-custom{
        width: 100%;
        margin: auto;
        max-width: 88% !important;
    }
  }

  .footer-parent-custom{
    padding-top: 60px;
  }